.footer {
    background: #110e2b;
    padding-top: 125px;
}

.footer .right{
    padding-bottom:50px;
}

.footer .left {
    bottom:0;
    margin-left: -50px;
}

.footer h4{
    margin-bottom:8px;
}

.footer h4, .footer .normal-text {
    color:white;
}

.footer .right p {
    text-transform: initial;
}

.footer .left img, .footer .right {
    margin-left: 140px;
}

.footer ul {
    margin-top:5px;
}

.footer ul li{
    float:left;
    margin-left: 10px;
}

.footer ul li:first-of-type {
    margin-left:0;
}

.social-media-container {
    margin-top:14px;
}

@media only screen and (max-width: 1000px) {
    #footer-img {
        display: none;
    }
    #footer-info {
        grid-column-start: 1;
        grid-column-end: 3;
        text-align:center;
    }
    .social-media-container {
        display: table;
        margin: 0 auto;
    }

    .social-media-container ul li{
        display:inline;
    }
}