.footer {
    background: #110e2b;
    padding-top: 125px;
    color:white;
}

.footer h4{
    margin-bottom:8px;
}

.footer h4, .footer .normal-text {
    color:white;
}


.footer .right p {
    text-transform: initial;
}

.footer .left img, .footer .right {
    margin-left: 140px;
}

.footer ul {
    margin-top:5px;
}

.footer ul li{
    float:left;
    margin-left: 10px;
}

.footer ul li:first-of-type {
    margin-left:0;
}

.social-media-container {
    margin-top:14px;
}