.header {
    padding-top: 24px;
}

.header .grid-item img {
    max-width: 100%;
    height: 100%;
}
.header .grid-menu-container {
    grid-area: b;
    margin: 0;
    padding: 0;
}

.header .left {
    grid-column-start: 1;
    grid-column-end: 5;
}
.header .right {
    grid-column-start: 6;
    grid-column-end: 13;
}

.header .grid-menu-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.header .grid-menu-container li {
    float: right;
}

.header .grid-menu-container li a {
    display: block;
    text-align: right;
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    .header {
        display:grid;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: 1fr;
        text-align:center;
        grid-template-areas: "a"
                            "b";
    }
    .header .grid-menu-container {
        grid-area:b;
        grid-template-rows: repeat(6,1fr);
        grid-template-columns: 1fr;
        text-align:center;
    }

    .header .grid-menu-container li {
        width:100%;
        float:initial;
    }
    .header .grid-menu-container li a{
        font-size:45px;
    }

    .header .left {
        grid-column-start: 1;
        grid-column-end: 13;
        background: white;
        z-index: 1;
    }
    #header-menu {
        grid-column-start: 1;
        grid-column-end: 13;
        z-index: 0;
        animation-name: animation-slide-menu;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }

    .main {
        overflow:hidden;
    }

    @keyframes animation-slide-menu {
        0% {display:none;
            margin-right: -600px;}
        1% {display:block}
        100% {margin-top: 0;}
    }

}
