.introduction .left {
    min-height:700px;
}

.grid-container-overflow {
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.grid-overflow-left {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width:1000px;
}

.grid-overflow-right {
    grid-column-start: 3;
    grid-column-end: 3;
    float:right;
}

.grid-overflow-right img {
    height:100%;
    justify-self:right;
}

.video img:last-of-type {
    position:absolute;
    width:75px;
    height:75px;
    margin-top:calc(315px/-2 - 75px/2);
    margin-left: calc(560px/2 - 75px/2);
    cursor: pointer;
}

.introduction h1 {
    margin-bottom: 17px;
}
