body {
    background:lightcyan;
    font-weight: 700;
    width: 1440px;
    margin: auto;
    font-family: Oswald, sans-serif;
    padding: 0;
}


h1, h2, h3, h4, h5, a, p, ul{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#101010;
}

a:hover {
    color:#0029e7;
}

h1, h2, h3, h4, h5, .sub-headline, a, .list {
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #110e2b;
    text-transform: uppercase;
}

h1 {
    font-size: 80px;
    line-height: 1.05;
}

h2 {
    font-size: 66px;
    line-height: 1.12;
}

h3 {
    font-size: 42px;
    line-height: 1.19;
}

h4 {
    font-size: 36px;
    line-height: 1.28;
}

h5 {
    font-size: 16px;
    line-height: 1.63;
}

.sub-headline {
    font-size: 46px;
    line-height: 1.22;
}

.list {
    font-size: 24px;
    line-height: 1.67;
}

.list-box-version {
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
}

.side-padding {
    padding: 0 140px 0 140px;
    background:white;
}

.side-padding-double {
    padding: 0 240px 0 240px;
    background:white;
}

.grid-container-2 {
    display:grid;
    grid-template-areas: "a b";
    grid-auto-columns: 1fr 1fr
}

.grid-container-12 {
    display:grid;
    grid-template-areas: "a a a a b b b b b b b b";
    grid-template-columns: repeat(12, 1fr);
}

.grid-container-3 {
    display:grid;
    grid-template-areas: "a b c";
    grid-auto-columns: 3fr;
}

.center-aligned {
    align-self:center;
}

.link-text {
    color:#0029e7;
    cursor: pointer;
}

.link-text:hover {
    color:#ffbcbc;
}

.link-container {
    line-height:30px;
    color: #101010;
    text-decoration: none;
    align-items:center;
    margin-top: 29px;
}

.link-container div {
    display:inline-block;
    float:left;
}
.link-container img {
    padding-left: 20px;
    justify-content: center;
}

.pink-text {
    color: #ffbcbc;
}

.brown-text {
    color:#cd996a;
}

.green-text {
    color:#67b90e;
}

.absolute-position {
    position:absolute;
}

.normal-text {
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #101010;
}

.padding-section {
    height: 4em;
    background:white;
}

.left {
    grid-area:a;
}

.right {
    grid-area:b;
}

.wide-text {
    letter-spacing: 3px;
}

.animated-push {
    animation-name: push-text;
    animation-delay:3s;
    animation-duration:10s;
    animation-iteration-count: infinite;
}

.animated-typing {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    animation-name:type-animation;
    animation-timing-function: steps(100,end);
    animation-duration:3s;
}

@media only screen and (max-width: 1440px) {
    body {
        width:1020px;
    }
    .side-padding {
        padding: 0 70px 0 70px;
    }
    .footer .left img, .footer .right {
        margin-left: 70px !important;
    }
    .footer .left img {
        width:75%;
        bottom:0;
    }
    .green-box {
        width:270px;
        overflow:hidden;
    }
    .green-box h3 {
        font-size: 30px;
    }
    .green-box li {
        font-size:15px;
    }
}

@media only screen and (max-width: 600px) {
    .grid-overflow-left {
        /*display: block;*/
        position:relative;
        grid-column-start: 1 !important;
        grid-column-end: 5 !important;
    }
}

@keyframes push-text {
    0% {margin-left: 0;}
    20% {margin-left: 25px;}
    22% {margin-left: 0;}
    100% {margin-left: 0}
}

@keyframes type-animation {
    from {width: 0;}
}