.news .grid-item {
    margin:10px;
}

.news .grid-container-3 div:first-of-type {
    margin-left:0;
    margin-right:20px;
}
.news .grid-container-3 div:last-of-type{
    margin-right:0;
    margin-left:20px;
}

.news .grid-item img {
    width:100%;
}