.our-brews .grid-item p {
    font-size: 2.2em;
}

.our-brews .grid-item h1 {
    font-size: 4em;
}

.our-brews div:last-of-type {
}

.our-brews .left img {
    width:100%;
}

.our-brews .right {
    margin-left: 50px;
}