
.green-box > div {
    background: #67b90e;
    max-width:280px;
    margin:0;
    padding:40px;
    text-align:center;
    color:white;
}

.green-box img {
    margin:0;
    padding:0;
    overflow:hidden;
}

.green-box h2 {
    padding-bottom: 10px;
}

.recipe .grid-container-2 .grid-item {
    margin-top: 50px;
}

.recipe .grid-container-1 {
    padding-right:150px;
    font-weight:400;
}

.recipe .grid-container-2 .grid-item li {
    font-size: 1.5em;
}
