.green-box > div {
    background: #67b90e;
    max-width:280px;
    margin:0;
    padding:40px;
    text-align:center;
    color:white;
    height:153px;
}

.green-box img {
    margin:0;
    padding:0;
    overflow:hidden;
}

.green-box h3 {
    padding-bottom: 10px;
    color:white;
}

.recipe .grid-container-2 .grid-item {
    margin-top: 50px;
}

.recipe .grid-container-1 {
    padding-right:150px;
    font-weight:400;
}

.recipe .normal-text {
    margin-top:16px;
}

.recipe .list {
    margin-top:14px;
}

#hops h2 {
    margin-top:-20px;
}